html,
body {
  padding: 0;
  margin: 0;
  background: rgb(26, 4, 32);
  background: linear-gradient(
    90deg,
    rgba(26, 4, 32, 1) 0%,
    rgba(144, 0, 184, 1) 50%,
    rgba(91, 187, 184, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
